* {box-sizing: border-box;}

body {
    background-color: white;
}

.container {
    /*background-color: black; ///indicativo come riferimento*/
    /*centratura dinamica*/
    width: 60%;
    margin: auto;
    /*margini*/
    margin-top: 50px;
    margin-bottom: 25px;
    /*display flex non lo studiamo, ma sembra interessante*/ 
    display: flex;
    justify-content: center; /*space-evenly/around/between*/
    /*scherzavo, mai più. documentazione: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
}

.product {
    height: 100%;
    display: inline-block;
    /*margine minimo tra elementi, quando non spaziati dal flexbox*/
    margin: 0px 3px;
    }

    /*---------discount tag-----------*/

.layerer { /*contenitore per immagine e discount*/
        position: relative;
    }

.discount { /*badge neutro degli sconti*/
    height: 20px;
    width: auto;
    position: absolute;
    z-index: 4;
    top: 0px;
    right: 0px;
}

.trenta {
    background-color: green;
}

.cinque {
    background-color: red;
}














/*EXTRA*/ /*
.product:hover {
    visibility: hidden;
}

.heart {
    position: absolute;
    z-index: 5;
}