* {box-sizing: border-box;}

body {
    background-color: white;
}

.container {
    background-color: black; /*indicativo come riferimento*/
    /*centratura dinamica*/
    width: 60%;
    margin: auto;
    
    margin-top: 50px;
    margin-bottom: 25px;
    /*display flex non lo facciamo, ma sembra interessante*/ 
    display: flex;
    justify-content: space-between;
    /*scherzavo, mai più. documentazione: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
}

.product {
    height: 100%;
    display: inline-block;
    margin: 0px 8px;    
}


.product:hover {
    visibility: hidden;
}

.heart {
    position: absolute;
    z-index: 5;
}